@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.fullpage {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*---------------------------------------------------------*/
/* /////////////////////////////////// */
/*//////////NAV BAR START///////////// */
.navBar {
  position: fixed;
  right: 5%;
  top: 30%;
  z-index: 5;
}

.nav-list {
  list-style: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 10px 10px 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    background-image: -webkit-linear-gradient(45deg, #614385 0%, #516395 100%);
    background-image: linear-gradient(45deg, #614385 0%, #516395 100%);
    transition: .4s;
    box-shadow: 3px 2px rgba(0,0,0,0.4);
}

.nav-list a:hover {
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
/* /////////////////////////////////// */
/*///////// NAV BAR END////////////// */

/*---------------------------------------------------------*/

/* /////////////////////////////////// */
/*/////////LANDING SECTION START////////////// */
.profile-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 1em auto 1em;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1.2rem;
  width: auto;
}

.about-wrapper h1 {
  padding: 1rem;
}

.about-wrapper p {
  padding: 0.5rem;
}

.profile-pic img {
  /* Picture must maintain aspect ratio of 1.25 */
  height: 250px;
  width: 200px;
}

/* /////////////////////////////////// */
/*/////////LANDING SECTION END////////////// */

/*---------------------------------------------------------*/

/* /////////////////////////////////// */
/*/////////BACKGROUND SECTION START////////////// */

.background-section {
  display: flex;
  width: 100%;
}

.block-right {
  margin-left: auto;
  max-width: 50vw;
}

.block-left {
  margin-right: auto;
  max-width: 50vw;
}

.skills-container {
  padding-left: 2em;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.skill-list {
  list-style: none;
  padding-right: 2rem;
}

.skill-list li {
  margin: 10px;
  font-weight: bold;
}

#certifications {
  flex-direction: column;
}

.tokens-list {
  display: flex;
  flex-direction: row;
}

.token-container {
  width: 25vw;
}

.token-container a {
  text-decoration: none;
  color: black;
}

.token {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 17vw;
  height: 17vw;
  margin: 1.5rem auto 10px;
  border: 3px solid black;
  border-radius: 50%;
  background-image: url('https://design-style-guide.freecodecamp.org/downloads/fcc_secondary_small.png');
  background-size: 15vw;
  background-repeat: no-repeat;
  background-position: center;
}

.rotating {
  animation: spin 5s linear infinite;
}

@keyframes spin {
    0%{
       transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

/* /////////////////////////////////// */
/*/////////BACKGROUND SECTION END////////////// */

/*---------------------------------------------------------*/

/* /////////////////////////////////// */
/*/////////CONTACT SECTION START////////////// */

/* /////////////////////////////////// */
/*/////////CONTACT SECTION END////////////// */

.section {
  height: 100vh;
  border: 1px solid black;
  border-bottom: none;
}

.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10vh 0 10vh;
}

.s2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5rem 0 5rem;
  text-align: center;
}

.s3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10vh 0 10vh;
}
